<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="LocalSQLite" connectionString="Data Source=C:\Users\mthompson\Documents\Projects\LogParserService\LogParserService\LogParser.sqlite;" providerName="System.Data.SQLite"/>
  </connectionStrings>
  <appSettings>
    <add key="log4net" value=".\log4net.config"></add>
  </appSettings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
